@use "../style";

.root{
  display: flex;
  flex-direction: column;

  > div:first-of-type{//入力部
    @include style.inputBase;
    display: flex;
    align-items: center;
    > :first-child{//入力コンポーネント
      flex: 1 1 0;
      height: 100%;
    }
    > :last-child{//展開ボタン
      flex: 0 0 auto;
    }
  }
  .popup{
    position: relative;
    height: 0px;
    > :last-child{
      position: absolute;
      background-color: white;
      border: 1px solid black;
      padding: 5px;
    }
  }
}