.root{
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  height: 100vh;
  > :first-child{//ヘッダ
    flex: 0 0 0;
  }
  > :nth-child(2){//コンテンツ
    flex: 1 0 0;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    > :first-child{//tools
      flex: 0 0 0;
      display: flex;
      > :first-child{//左詰め
        flex: 0 0 0;
        display: flex;
        justify-content: flex-start;
      }
      > :nth-child(2){//中央
        flex: 1 0 0;
      }
      > :last-child{//右詰め
        flex: 0 0 0;
        display: flex;
        justify-content: flex-end;
      }
    }
    > :nth-child(2){//コンテンツ
      flex: 1 0 0;
    }
  }
  > :last-child{//フッタ
    flex: 0 0 0;
    background-color: black;
  }
}